<%= link_to "Home", root_path, class: "home-btn"  %>
<h1 class="main-heading">All the users</h1>
<div class="main-container">
  <% @users.each do |user| %>
    <div class="flex">
      <%= render 'shared/user', obj: user %>
      <%= link_to "View profile", user_path(user.id), class: "view-profile"   %>
    </div>
  <% end %>
</div>
