<h1 class="main-heading">All the users</h1>
<%= link_to "Home", root_path  %>
<div class="main-container">
  <% @users.each do |user| %>
    <div class="flex">
      <%= render 'shared/user', obj: user %>
      <%= link_to "View profile", user_path(user.id), class: "view-profile"   %>
    </div>
  <% end %>
</div>
