<div class="user-card">
  <div class="image-container">
    <img src= <%= obj.photo %> alt="d-Image">
  </div>
  <div class="user-details">
    <h2> <%= obj.name %>  </h2>
    <p>Number of posts: <%= obj.posts_counter %></p>
  </div>
</div>
