<section class="posts-section">
  <%= render '/shared/user', obj: @user %>
  <div class="user-posts">
    <% @posts.each_with_index do|post, index| %>
      <%= render '/shared/post', obj: post, idx: index, comments: post.recent_comments, details: true %>
    <% end %>
  </div>
</section>
